/* Guest portion Styles */
.guest img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid wheat;
}
.guest-card{
    background-color: #868b8db6;
}
.regular-btn{
    font-weight: 500;
}
.regular-btn:hover{
    border: 1px solid white;
    background-color: #ff9f43;
    color: white;
    font-weight: 500;
} 
.social-icon:hover{
    color: #ff9f43 !important;
    cursor: pointer;
}